# Ignore .idea folder (used by JetBrains IDEs like PyCharm)
.idea/

# Ignore .venv folder (commonly used for Python virtual environments)
.venv/

.DS_Store

__pycache__/

#all pycache files
*.py[cod]

htmlcov/